body:before {
    content: "xs";
    display: none;
}

@media (min-width: 576px) {
    body:before {
        content: "sm";
        display: none;
    }
}

@media (min-width: 768px) {
    body:before {
        content: "md";
        display: none;
    }
}

@media (min-width: 992px) {
    body:before {
        content: "lg";
        display: none;
    }
}

@media (min-width: 1200px) {
    body:before {
        content: "xl";
        display: none;
    }
}


.choose-label-element {
    flex: 1;
    height: 25px;
}

.choose-label-element-active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
}

.choose-label-container {
    display: flex;
    justify-content: center;
}

.flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
}